* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 200vh;

}

.block {
    width: 900px;
    height: 300px;
    margin-top: 20px;
    margin: 30px 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 250, 250);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.block2 {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 180px;
    margin: 5px 20px;
}

.pic {

    background-image: url(./loading.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: left;
    width: 250px;
    height: 130px;

}

.loading {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
}

.block_up {
    height: 30px;
    width: 350px;
    border: 1px solid rgb(99, 96, 96);
    display: flex;
    flex-direction: row;
    background-color: rgb(179, 176, 176);

}

.block_m {
    height: 30px;
    width: 170px;
    margin: 0px 0px 0px 65px;
}

.p_up {
    font-size: 13px;
    padding: 5px 0px 5px 5px;
    background-color: blue;

}

.p_ab {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-family: arial;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: blue;
    margin: 10px;
    padding: 5px;
    color: wheat;
}

.btn:hover {
    background-color: darkcyan;
}

.h3 {
    text-align: justify;
    font-size: 20px;
    padding: 20px 10px;
}

.p {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
}

@media (max-width:600px) {
    .page {
        max-width: 750px;
        min-height: 400vh;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 550px;
        height: 500px;
    }

    .pic {
        width: 500px;
        height: 450px;
        background-size: 500px;
        background-position: center;
        margin-left: 10px;
    }

    .block2 {
        width: 500px;
        margin: 20px 10px;
    }

    .block_up {
        width: 480px;
    }

    .btn {
        width: 500px;
    }
}